*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: darkviolet;
    background-color: black;
    text-align: center;
}



div{
    
    height: 100px;
    width: 100px;
    text-align: center;
}

h1{
   
    padding: 10px;
    text-align: center;
    font-family: cursive;
}

p{
    
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

a{
    text-decoration: red;
}

span {
    background-color: aquamarine;
    padding: 10px;
}

div p span{
    background-color: aquamarine;
    
}